[submodule "Jenkins/docker"]
	path = Jenkins/docker
	url = https://github.com/jenkinsci/docker.git
[submodule "Sonarqube/docker-sonarqube"]
	path = Sonarqube/docker-sonarqube
	url = https://github.com/SonarSource/docker-sonarqube.git
[submodule "DependencyCheck/DependencyCheck"]
	path = DependencyCheck/DependencyCheck
	url = https://github.com/jeremylong/DependencyCheck.git
[submodule "DependencyCheck/dependency-check-plugin"]
	path = DependencyCheck/dependency-check-plugin
	url = https://github.com/jenkinsci/dependency-check-plugin
[submodule "ArcherySec/archerysec"]
	path = ArcherySec/archerysec
	url = https://github.com/archerysec/archerysec.git
[submodule "cve-search/cve-search"]
	path = cve-search/cve-search
	url = https://github.com/cve-search/cve-search.git
